{% include 'header.html' %}
   <div class="container">

        <!-- Jumbotron -->
        <div class="jumbotron">
          
            <h4><b>H3LL0 TH3R3 D0J0</b></h4>
            <b>Show The World What you're Made Of by Joining Us Today. We Offer Multiple tools available only here on this server to help you to enhance your hacking journey<br><br>We do not encourage hacking as it is illegal so whatever you do using our service is completely not our responsibility. We Wont be held accountable for any damages done by you or anyone using these services<br><br></b>
            <p>
                <a class="btn btn-lg btn-primary" href="{{ url_for('signup') }}" role="button"><strong>get started &rarr;</strong></a>
                <a class="btn btn-lg btn-primary" href="{{ url_for('signup') }}" id="stars">👻</a>
            </p>
        </div>
        {% include 'footer.html' %}