{% include 'header.html' %}
      <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <form method="POST" class="form-horizontal">
                        <fieldset>
                            <legend>LOGIN H4CKR</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input name="email" class="form-control" id="inputEmail" placeholder="Email" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input class="form-control" name="password" id="inputPassword" placeholder="Password" type="password">


                                    </div>

                                </div>
                              <center>
        <button style="boarder-color: solid green; background-color: black; width: 70%;" class="btn btn-default">LOGIN</button>
         <b>Already have a account ? <a href="{{ url_for('signup') }}" style="color: red;">Signup</a><b>
         {% if error %}
            <b style="red">{{ error }}</b>
         {% endif %}
         </center>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            {% include 'footer.html' %}
